<!-- Disclaimer-->
<div class="relative py-16 bg-white overflow-hidden">
    <div class="relative px-4 h-full w-full">
        <div class="text-lg mx-auto">
            <h1>
                <span
                    class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Disclaimer</span>
                <span
                    class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">Astrocyte
                    Research / Portformer</span>
            </h1>
        </div>
        <div class="mt-6 prose-indigo prose-lg text-gray-500 mx-auto text-xs">
            <p>
                The information contained herein has been prepared without regard to any particular investor’s
                investment objectives, financial situation, and needs. Accordingly, investors should not act on any
                recommendation (express or implied) or information in this material without obtaining specific advice
                from their licensed financial advisors and should not rely on information herein as the primary basis
                for their investment decisions. The views and opinions expressed by Astrocyte Research may have changed
                since the time of publication and may not necessarily reflect the most recent views and opinions.

            </p>
            <p>
                Astrocyte Research’s presentations, report, chart packs, views and opinions are presented for
                informational purposes only. The information presented by Astrocyte Research and its affiliated persons,
                however it is communicated, (whether by phone, video communication, in reports, on the websites, in
                social media communications or by other means) should not be construed as investment advice. Astrocyte
                Research, Inc. is not an investment advisor and is not licensed to give specific financial advice.

            </p>
            <p>
                Information contained herein is based on data obtained from recognized statistical services, issuer
                reports or communications, or other sources believed to be reliable (“information providers”). However,
                such information has not been verified by Astrocyte Research, Inc. or the information provider and
                Astrocyte Research and the information providers make no representations or warranties or take any
                responsibility as to the accuracy or completeness of any recommendation or information contained herein.
                Astrocyte Research, it’s owners, affiliated persons and it’s information providers accept no liability
                to the recipient whatsoever whether in contract, in tort, for negligence, or otherwise for any direct,
                indirect, consequential, or special loss of any kind arising out of the use of this document or its
                contents or of the recipient relying on any such recommendation or information (except insofar as any
                statutory liability cannot be excluded).
            </p>
            <p>
                Any statements not factual in nature constitute only current opinions, which are subject to change
                without notice. Neither the information nor any opinion expressed shall constitute an offer to sell or a
                solicitation or an offer to buy any securities, commodities or exchange traded products. This document
                does not purport to be complete description of the securities or commodities, markets or developments to
                which reference is made.
            </p>
            <p>
                Unless otherwise stated, performance numbers are based on price returns (including dividends and splits)
                and are not inclusive of taxes, fees, or other expenses. Past performance is not indicative of future
                results. Potential for profits is accompanied by possibility of loss. You should consider this
                strategy’s investment objectives, risks, charges and expenses before investing. The examples and
                information presented do not take into consideration commissions, tax implications, or other transaction
                costs.
            </p>
            <p>
                The material has been prepared or is distributed solely for information purposes and is not a
                solicitation or an offer to buy any security or instrument or to participate in any trading strategy.
                Some performance information presented is the result of back-tested performance. Back-tested performance
                is hypothetical (it does not reflect trading in actual accounts) and is provided for informational
                purposes to illustrate the views of Astrocyte Research strategies and forecasts during a specific
                period. No strategy is a guarantee. There may be times where all investments and strategies are
                unfavorable and depreciate in value. Astrocyte Research® and its Portformer and Breakpoint technologies
                are not guaranteed to be predictive and there is no assurance that forecasts provided by Astrocyte
                Research can be relied upon.
            </p>
            <p>
                Back-tested performance results have certain limitations. Such results do not represent the impact of
                material economic and market factors might have on an investor’s decision-making process if the
                investors were actually managing money. Back-testing performance also differs from actual performance
                because it is achieved through retroactive application of a model investment methodology designed with
                the benefit of hindsight. Astrocyte Research believes the data used in the testing to be from credible,
                reliable sources, however; Astrocyte Research makes no representation or warranties of any kind as to
                the accuracy of such data.
            </p>
        </div>
    </div>
</div>