<cite class="relative flex items-center justify-right bg-indigo-600 rounded-b-lg not-italic
                            py-2 pl-4 pr-2">

    <div class="flex text-indigo-300 font-semibold">
        <span>
            <p class="text-white font-semibold sm:inline">$CBLS</p>
            <p class="sm:inline">Portformer Automated ETF Benchmark</p>
        </span>
    </div>
    <div class="flex w-full"></div>
    <img style="width: 96px; height: 96px;" class="flex border-2 border-white" src={{ .Params.figures.qr_code.src }}
        alt={{ .Params.figures.qr_code.alt }}>
</cite>